.comment{
    .comment_right
    {
        h5{
            font-size: .9rem;
            font-weight: 500;
        }

        span{
            font-size: .75rem;
        }

        p{
            font-size: .85rem;
        }
    }
}