.grade-info{
    width: 100%;
    .table{
        width: 100%;
        background-color: white;
        .header-table{
            color: white;
            text-align: center;
        }
        .label{
            text-align: center;
            background-color: #e9ecef;
        }
        th{
            border: 1px silver solid;
            padding: 10px;
            
        }
    }
    .role-name{
        color: #d82c2c;
        font-style: italic;
    }
}