.activity{
    width: 100%;
    span{
        font-size: 14px;
    }
    .activity_name{
        font-weight: 600;
        margin-right: 3px;
    }

    .activity_action{

    }

    .activity_time{
        font-size: 12px;
        color: #999;
    }
}