$mobile-width: 550px;

.folder {
    margin: auto;
    text-align: center;
    width: 180px;
    height: 200px;
    cursor: pointer;
    background: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;

    @media screen and (max-width: $mobile-width) {
        width: 140px;
        height: 160px;
        font-size: 12px;
    }

    .folder_dropdown {
        display: none;
    }

    .folder_icon {
        font-size: 40px;
    }
}

.folder:hover .folder_dropdown {
    display: block;
}
