$mobile-width: 550px;
$tablet-width: 900px;
$desktop-width: 1024px;
$laptop15-width: 1524px;

.dashboard {
    display: flex;
    background: #f1f5f9;

    .dashboard_left {
        width: 18%;
        height: 100%;
        position: fixed;
        z-index: 50;
        background-color: white;

        @media screen and (max-width: $mobile-width) {
            width: 80%;
        }

        @media screen and (max-width: $tablet-width) {
            width: 300px !important;
        }

        @media screen and (max-width: $desktop-width) {
            width: 40%;
        }

        @media screen and (max-width: $laptop15-width) {
            width: 25%;
        }
    }

    .dashboard_right {
        width: 82%;
        min-height: 100%;
        position: relative;

        .dashboard_right_body {
            min-height: 100%;
            background: #f1f5f9;
            .dashboard_right_page {
                display: block;
                height: calc(100vh - 64px);
            }
        }

        @media screen and (max-width: $mobile-width) {
            width: 100%;
        }

        @media screen and (max-width: $tablet-width) {
            width: 100% !important;
        }

        @media screen and (max-width: $laptop15-width) {
            width: 75%;
        }
    }

    .dashboard_left_dark-bg {
        width: 100%;
        height: 100%;
        display: none;
        z-index: 2;
        background: rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0;
        left: 0;
        cursor: pointer;
        @media screen and (max-width: $mobile-width) {
            display: block;
        }

        @media screen and (max-width: $tablet-width) {
            display: block;
        }
    }
}
