$mobile-width: 550px;
$tablet-width: 900px;
$desktop-width: 1024px;
$laptop15-width: 1524px;

.home-cards {
  background-color: #edf2f4;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
  .cards {
    // flex: 1;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    opacity: 0;
  }
  .card {
    width: 300px;
    height: 250px;
    color: white;
    background-color: #1976d2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;

    @media screen and (max-width: $laptop15-width) {
      h4{
        font-size: 18px;
      }
      p{
        font-size: 14px;
      }
    }
  }
  .home-icons {
    color: white;
  }
  p {
    color: lightgray;
  }
}
@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times forwards;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.bottomToTop {
  @include keyframes(bottomToTop) {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    50% {
      transform: translateY(25px);
      opacity: 0.5 !important;
    }
    100% {
      transform: translateY(0px);
      opacity: 1 !important;
    }
  }
  @include animate(bottomToTop, 1s, linear, 1);
  opacity: 1 !important;
}
