$mobile-width: 550px;
$tablet-width: 900px;
$desktop-width: 1024px;

.group {
  width: 100%;
  background: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  
  @media screen and (max-width: $mobile-width) {
    padding: 20px 30px;
  }

  .group_header {
    span {
      font-size: 12px;
    }
  }

  .group_body {
    position: relative;
    height: 45px;
    p {
      font-size: 15px;
    }
    .group_body_avatar{
      position: absolute;
      border: 3px solid white;
      border-radius: 100%;
      overflow: hidden;

      .group_body_avatar_button{
        min-width: auto;
        width: 30px;
        height: 30px;
        padding: 0;
      }
    }
  }

  .group_footer {
    span {
      font-size: 12px;
    }
    svg {
      font-size: 18px;
    }
    span,
    svg {
      color: #666;
    }
  }
}
