.date-time-picker {
    .date-time-picker_box {
        position: relative;
        .picker {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
        .date-time-input {
            width: 100%;
            svg {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
