.user-assigner {
    .user-assigner_search {
        width: 100%;
        position: relative;
        input {
            font-size: 14px;
        }

        .user-assigner_search_users{
            position: absolute;
            width: 100%;
            z-index: 1;
            background: white;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3); 
            border-radius: 5px;
            top: 40px;
        }
    }
}
