.header-button{
    padding: 6px 17px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
    color: #555;
    svg{
        font-size: 18px;
    }
    span{
        font-size: 14px;
    }
}

// .header-button:hover{
//     background: rgba(128, 128, 128, 0.1);
// }