.topic{
    width: 100%;
    padding: 20px;
    background: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    .topic_title{
        font-size: 15px;
    }
    
    .topic_desc{
        font-size: 13px;
        height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .topic_icon{
        font-size: 18px;
    }

    .topic_sub{
        font-size: 13px;
    }
}