.loading-stage {
    width: 224px;
    height: 300px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;

    .loading-stage_line {
        width: 50px;
        height: 2px;
        background: #64748b59;
        margin: 20px 0;
      }
}
