.topic-form{
    form{
        width: 80%;
        background: white;
        margin: auto;
        border-radius: 5px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
        position: relative;
    }
}